/* @media screen and (max-width: 600px) {
  .chris-tree {
    width: 120%;
    height: 120%;
  }
} */
@media (max-width: 600px) {
  .chris-tree {
    width: 100vw;
    height: 119.5313vw;
    position: relative;
    overflow: hidden;
    background: url(../images/chetree.png);
    background-size: 500px 700px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .chris-tree::after {
    content: "";
    position: absolute;
    top: 20vw;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: url(../images/gard.gif);
    background-size: 420px 470px;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    z-index: 0;
  } /* 1 */
  .sh-1 {
    position: absolute;
    top: 19vw;
    left: 53.5vw;
    width: 50px;
    height: 50px;
    background: url("../images/sh-1.png") center/cover no-repeat;
    z-index: 1;
    transform-origin: top center;
  }

  /* 2 */
  .sh-2 {
    position: absolute;
    top: 80vw;
    left: 25vw;
    width: 80px;
    height: 80px;
    background: url("../images/sh-2.png") center/cover no-repeat;
    z-index: 1;
    transform-origin: top center;
  }

  /* 3 */
  .sh-3 {
    position: absolute;
    top: 65vw;
    left: 35vw;
    width: 90px;
    height: 90px;
    background: url("../images/sh-3.png") center/cover no-repeat;
    z-index: 1;
    transform-origin: top center;
  }

  /* 4 */
  .sh-4 {
    position: absolute;
    top: 69vw;
    left: 18vw;
    width: 50px;
    height: 50px;
    background: url("../images/sh-6.png") center/cover no-repeat;
    z-index: 1;
    transform-origin: top center;
  }

  /* 5 */
  .sh-5 {
    position: absolute;
    top: 27vw;
    left: 30vw;
    width: 70px;
    height: 70px;
    background: url("../images/sh-5.png") center/cover no-repeat;
    z-index: 1;
    transform-origin: top center;
  }

  /* 6 */
  .sh-6 {
    position: absolute;
    top: 45vw;
    left: 23vw;
    width: 80px;
    height: 80px;
    background: url("../images/sh-4.png") center/cover no-repeat;
    z-index: 1;
    transform-origin: top center;
  }

  /* 7 */
  .sh-7 {
    position: absolute;
    top: 42vw;
    left: 46vw;
    width: 65px;
    height: 65px;
    background: url("../images/sh-7.png") center/cover no-repeat;
    z-index: 1;
    transform-origin: top center;
  }

  /* 8 */
  .sh-8 {
    position: absolute;
    top: 81vw;
    left: 53vw;
    width: 65px;
    height: 65px;
    background: url("../images/sh-8.png") center/cover no-repeat;
    z-index: 1;
    transform-origin: top center;
  }

  /* 9 */
  .sh-9 {
    position: absolute;
    top: 53vw;
    left: 60vw;
    width: 90px;
    height: 90px;
    background: url("../images/sh-9.png") center/cover no-repeat;
    z-index: 1;
    transform-origin: top center;
  }

  /* 10 */
  .sh-10 {
    position: absolute;
    top: 77vw;
    left: 73vw;
    width: 65px;
    height: 65px;
    background: url("../images/sh-10.png") center/cover no-repeat;
    z-index: 1;
    transform-origin: top center;
  }
}

@media screen and (max-width: 500px) {
  .block-2 {
    display: flex;
    flex-direction: column;
  }
  .block-2 img {
    width: 82.468vw;
    height: auto;
  }
  .postcard {
    background: url("../images/rev-post.png") no-repeat;
    background-size: 82.468vw auto;
    z-index: 1;
  }
  .block-2 h1 {
    font-size: 10vw;
  }
}
@media (max-width: 450px) {
  .b1,
  .box2,
  .box3,
  .box4,
  .box5,
  .b6,
  .ho {
    display: none;
  }
  /* 1 */
  .sh-1 {
    top: 10vw;
    left: 53.5vw;
  }

  /* 2 */
  .sh-2 {
    top: 90vw;
    left: 20vw;
  }

  /* 3 */
  .sh-3 {
    top: 65vw;
    left: 35vw;
  }

  /* 4 */
  .sh-4 {
    top: 75vw;
    left: 15vw;
  }

  /* 5 */
  .sh-5 {
    top: 20vw;
    left: 30vw;
  }

  /* 6 */
  .sh-6 {
    top: 45vw;
    left: 15vw;
  }

  /* 7 */
  .sh-7 {
    top: 42vw;
    left: 46vw;
  }

  /* 8 */
  .sh-8 {
    top: 90vw;
    left: 53vw;
  }

  /* 9 */
  .sh-9 {
    top: 53vw;
    left: 60vw;
  }

  /* 10 */
  .sh-10 {
    top: 83vw;
    left: 73vw;
  }
}
