@media screen and (max-width: 500px) {
  .block-2 {
    display: flex;
    flex-direction: column;
  }
  .block-2 img {
    width: 82.468vw;
    height: auto;
  }
  .postcard {
    background: url("../images/rev-post.png") no-repeat;
    background-size: 82.468vw auto;
    z-index: 1;
  }
  .block-2 h1 {
    font-size: 10vw;
  }
}
