@keyframes runstr {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes runstr2 {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-50%);
  }
}
