@font-face {
  font-family: "UrbanSlavic";
  src: url("../fount/UrbanSlavic.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Christopher";
  src: url("../fount/Christopher.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "modern_dot_digital-7";
  src: url("../fount/modern_dot_digital-7.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
