* {
  box-sizing: border-box;
}
body {
  cursor: url("../images/carcur.png") 16 16, auto;
  background-color: #030119;
  color: #fff;
  font-family: "modern_dot_digital-7";
  font-family: "UrbanSlavic";
}
.block-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 9.8438vw;
  /* width: 100%;
  height: 5.3906vw; */
}
h1 {
  font-weight: 200;
  font-style: normal;
  font-size: 13.4375vw;
  color: #d1873c;
}
p {
  font-family: "Christopher";
  font-weight: 300;
  font-style: normal;
  font-size: 13.4375vw;
  /* line-height: 0.8; - слетает следующий див */
}
.runstr-1 {
  display: block;
  width: 100%;
  height: 7.8125vw;
  border-top: 0.3125vw solid #d1873c;
  border-bottom: 0.3125vw solid #d1873c;
  overflow-x: hidden;
  text-align: center;
  line-height: 7.8125vw;
}

.runstr-1 p {
  font-family: "modern_dot_digital-7";
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  color: #eae0d5;
  white-space: nowrap;
  position: relative;
  animation: runstr 15s linear infinite;
}
/* .chris-tree {
  width: 100%;
  height: 119.5313vw;
  background-image: url(../images/chetree.png),
    url(../images/picmix.com_711619.gif);
  background-size: 79.7656vw 112.1875vw,  cover; 
  background-position: center center, center center; 
  background-repeat: no-repeat,  no-repeat;  } */
.chris-tree {
  width: 100%;
  height: 119.5313vw;
  position: relative;
  background: url(../images/chetree.png);
  background-size: 79.7656vw 112.1875vw;
  background-position: center center;
  background-repeat: no-repeat;
}

.chris-tree::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/picmix.com_711619.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  z-index: -1;
}
